<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link  rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <nav class="my-2 my-md-0 me-md-3">
            <a class="p-2 text-dark" href="{% url 'home' %}">Главная</a>
      </nav>
    </header>

    <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="card card-body">
        <div class="table-responsive" style="width: 400px;" >
            <table class="table table-striped table-sm">
                {% block table %}
                {% endblock %}
            </table>
        </div>
            </div>
    </div>
</body>
</html>